.megamenu{
position: absolute;
display: none;
left:50px;
top:0;
background-color:rgba(255,255,255,0.6);
border: 1px solid #f06b24;
border-width: 5px 1px;
padding: 10px;
font: normal 12px Verdana;
z-index: 100;

}

.megamenu .column{
float: left;

width: 180px; /*width of each menu column*/
margin-right: 5px;
}

.megamenu .column ul{
margin: 0;
padding: 0;
list-style-type: none;
background-color: rgba(255,0,255,0.1);
}

.megamenu .column ul li{
padding-bottom: 5px;

}

.megamenu .column h3{
background: #e0e0e0;
font: bold 13px Arial;
margin: 0 0 5px 0;
}

.megamenu .column ul li a{
text-decoration: none;
color:black;
}

.megamenu .column ul li a:hover{
color:   white;
}