@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
* {
  
  /*with these codes padding and border does not increase it's width.Gives intuitive style.*/
  
  -webkit-box-sizing: border-box;   
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
   margin:0;
   padding:0;
  font-family: 'Droid Sans', sans-serif;
  
  }
div#envelope{
	width:100%;
	position:relative;
	top:150px;
	margin: 10px 0 10px 0;
	background-color:rgb(159, 0, 62);
	padding:10px 0;
	border:1px solid rgb(159, 0, 62);
	border-radius:10px;
	color:white;
	} 
	
form{
width:70%;
margin:0 15%;
}  

form header {
  text-align:center;
  font-family: 'Roboto Slab', serif;
  }
 

/* Makes responsive fields.Sets size and field alignment.*/
input[type=text]{
margin-bottom: 20px;
margin-top: 10px;
  width:100%;
  padding: 15px;
  border-radius:5px;
  border:1px solid #FCE27B;
}


input[type=submit]
{
margin-bottom: 20px;
  width:100%;
  padding: 15px;
  border-radius:5px;
  border:1px solid #FCE27B;
  background-color:#FCE27B;
  color:rgb(159, 0, 62);
}
textarea{
	width:100%;
	padding: 15px;
	margin-top: 10px;
    border:1px solid #FCE27B;
	border-radius:5px; 
	margin-bottom: 20px;
	resize:none;
  }
 
input[type=text]:focus,
textarea:focus {
  border-color: #FCE27B;
}
iframe
{
position:relative;

}

/* By using @ media form can have different layout for screen, mobile phone, tablet.*/

/* Sets the form layout for mobile phone, tablet*/


/*
@media screen and (max-device-width: 600px){

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
* {
  
  /*with these codes padding and border does not increase it's width.Gives intuitive style.*/
  
 /*
  
  
   -webkit-box-sizing: border-box;   
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
   margin:0;
   padding:0;
  font-family: 'Droid Sans', sans-serif;
  
  }
div#envelope{
	width:50%;
	margin: 10px 30% 10px 25%;
	background-color:rgb(159, 0, 62);
	padding:10px 0;
	border:1px solid gray;
	border-radius:10px;
	} 
	
form{
width:70%;
margin:0 15%;
}  

form header {
  text-align:center;
  font-family: 'Roboto Slab', serif;
  }
 
*/
/* Makes responsive fields.Sets size and field alignment.*/
/*



input[type=text]{
margin-bottom: 20px;
margin-top: 10px;
  width:100%;
  padding: 15px;
  border-radius:5px;
  border:1px solid #7ac9b7;
}


input[type=submit]
{
margin-bottom: 20px;
  width:100%;
  padding: 15px;
  border-radius:5px;
  border:1px solid #7ac9b7;
  background-color:rgb(164, 230, 219);
}
textarea{
	width:100%;
	padding: 15px;
	margin-top: 10px;
    border:1px solid #7ac9b7;
	border-radius:5px; 
	margin-bottom: 20px;
	resize:none;
  }
 
input[type=text]:focus,
textarea:focus {
  border-color: #4697e4;
}
}
  */