.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}
.social-icons .fa {
	font-size: 2.4em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	
	text-align: center;
	color: white;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}

.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}

#webIcon:hover, #webIcon:active {
-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 	
}


nav ul a,
nav .brand-logo {
  color: #444;
}
.card .card-content a{
	color:#26a69a;
}

p {
  line-height: 2rem;
}



.parallax-container {
  min-height: 520px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}




 .parallax img 
 {
 	 background-repeat: no-repeat;
 	 background-size: cover;
 }
 .parallax-container
 {
 	color: black;
 }
 @media only screen and (max-width : 600px) {
  .parallax-container
 {
 	color: white;
 }
}
 nav a.button-collapse
 {
 	color:black;
 }




nav
{
	overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}




/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

.photo-grid {
	margin: 1em auto;

	text-align: center;
}
 
.photo-grid li {
	
	display: inline-block;
	margin: 1em;
	width: 289px;
}
 
.photo-grid img {
	display: block;
	height: auto;
	max-width: 100%;
}
 
.photo-grid figure {
	height: 163px;
	overflow: hidden;
	position: relative;
	width: 289px;
}
 
.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}
 
.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 289px;
	vertical-align: middle;
}
.photo-grid li:hover figcaption {
	opacity: 0.9;
}
.photo-grid img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}
 
.photo-grid li:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}
.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 289px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;op
	transition: all 300ms ease-out;
	vertical-align: middle;
}
 
.photo-grid li:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}
.photo-grid figcaption {
	background: rgba(0,0,1,0.5);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}


#tutsImage {
    width: 210px;
    height: 270px;
    /* max-width: 100%; */
    /* width: auto; */
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating)
{
 color : #ee6e73; 
}

.description1
{
  font-family: 'Acme', sans-serif;
  font-size: medium;
}
.description2
{
   font-family: 'Poiret One', cursive;
  font-size: 20px;

}
.description3
{
  font-family: 'Ubuntu', sans-serif;
}




.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating)
{
 color : #ee6e73; 
}
.card-links{
 

  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
}

.card-links a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #ffab40;
  margin-right: 20px;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card-links a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6;
}





